@import "tailwindcss";

@theme {
  --color-primry:#00B207;
  --color-badgeone:#EA4B48;
  --color-badgetwo:#2388FF;
  --color-gry:#F2F2F2;
  --text-hsize:32px;
  --font-pop: "Poppins", sans-serif; 
}
@font-face {
  font-family: "poppins";
  src:url("../src/assets/font/Poppins-Regular.ttf") format(ttf);
  font-weight: normal;
  font-style: normal;
}
.topbar{
  @apply flex items-center ml-10 relative after:w-[2px] after:h-[15px] after:bg-[#E6E6E6] after:content-[""] after:absolute after:top-[4px] after:left-[-30px];
}
.prev-arrow{
  background:red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 111;
}
.next-arrow{
  background:red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 111;
}
.swiper-button-disabled{
  background: gray;
  cursor: not-allowed;
}